body {
    background-color: #1d1d1d;
}
#date, #demo {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1em 2em;
    text-align: center;
    font-size: 48px;
}
#white-text {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}